@charset "UTF-8";

.usm-agree input[type="checkbox"] { cursor: pointer; }
.usm-agree label { padding: 0 0 0 7px; cursor: pointer; }

.usm-member-join label { font-size:14px; }
.usm-member-join label strong { font-weight:bold; color:#EB3941; }
.usm-join-box { height:120px; margin-top:3px; margin-bottom: 30px; padding:10px; border:1px solid #E1E1E3; overflow-y:scroll; background-color: #fff; }
.usm-join-box p.tit { font-size:20px;  font-weight: bold; }
.usm-join-box dl dt { font-size:16px;  font-weight: bold; margin-top:20px; color:#054180; }
.usm-join-box dl dd {  font-size:14px; margin:10px 0; line-height: 200%; }
.usm-join-box dl dd.usm-clr-blue { font-size: 16px; color: #0E44DE; }

#container{
	position: relative;
	top: 25px;
	width: 810px;
	margin: auto;
}

#title{
	position: relative;
	text-align: center;
	width: 100%;
}

#info{
	position: relative;
	margin-top: 10px;
	width: 750px;
}

#leftInfo{
	float: left;
	width: 200px;
	height: 120px;
	margin-left: 20px;
	margin-right: 50px;
	margin-top: 15px;
	font-weight: bold;
	font-size: 40px;
}

#centerInfo{
	width: 500px;
}

#name, #id, #password, #passOk{
	margin-top: 15px;
	width: 200px;
	height: 20px;
}

#bottomInfo{
	width:800px;
	position: relative;
	font-size: 13px;
}

#bottom{
	margin-top: 50px;
	position: relative;
	text-align: center;
}






